/* definição da fonte da página */

html {
    font-family: 'Text Me One', sans-serif;
}



/* definições da grade de estilos que envolve todas as seções da página */

.container { 
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
      "header  header"
      "main sidebar"
      "footer  footer";
}



/* Seção Cabeçalho (header) contém a logomarca com link para a página home da alura*/
  
header {
    grid-area: header;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #01180c;
    height: 100%;
}

header a {
    width: 100%;
    text-align: center;
}

header h1 {
    width: 100%;
    text-align: center;
    color: #daf95c;
    font-size: 2rem;
    text-transform: uppercase;
}



/* Seção Conteúdo (main) - Contem moldura, campos para entrada de texto, mensagem dinâmica, botões para criptografar, descriptografar, colar texto e recomeçar a aplicação */

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.molduraMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    padding: 10px;
    border: 3px solid #101d16;
    box-shadow: 0px 0px 3px 2px #daf95c;
    border-radius: 30px;
}

#mensagemEntrada {
    width: 94%;
    color: #01180c;
    font-size: 16px;
    padding: 10px;
    border: 2px solid rgba(16, 29, 22, 0.3);
    border-radius: 20px;
}

.mensagemEntradaDinamicaBox {
    display: flex;
    align-items:center;
}

.exclamacao {
    width: 14px;
    margin-right: 3px;
}

#mensagemEntradaDinamica {
    width: 100%;
    font-weight: 600;
    color: #01180c;
}



/* Seção Barra lateral (aside) - Contém moldura, campos para saída de texto, mensagem dinâmica, botão copiar texto*/

aside {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.molduraAside {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #01180c;
    width: 50%;
    height: 100%;
    padding: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 30px;    
}

#mensagemSaida {
    width: 94%;
    color: #01180c;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

#mascoteImagem {
    width: 70%;
}

#mensagemSaidaDinamica {
    width: 100%;
    color: #FFFFFF;
}



/* Seção Rodapé (footer) - Contém copyright e links para redes do autor da aplicação*/

footer {
    grid-area: footer;
    display: inline;
    text-align: center;
    background-color: #01180c;
    padding: 10px;
}

.copyrightBox {
    width: 100%;
}

.copyrightBox p {
    font-size: 14px;
    font-weight: 600;
    color: #3a5747;
}

.copyrightBox:hover p {
    transition: 400ms all;
    opacity: 0.5;
    color: #daf95c;
}

.contatosBox {
    width: 100%;
    margin-top: 8px;
}

.iconesContatos img {
    width: 30px;
    opacity: 0.27;
}

.iconesContatos:hover img {
    width: 30px;
    opacity: 0.4;
    box-shadow: 0px 0px 3px 2px #daf95c;
}